body{
    background: #D33800;
}

/*
██       █████  ██    ██  ██████  ██    ██ ████████
██      ██   ██  ██  ██  ██    ██ ██    ██    ██
██      ███████   ████   ██    ██ ██    ██    ██
██      ██   ██    ██    ██    ██ ██    ██    ██
███████ ██   ██    ██     ██████   ██████     ██
*/

.mdl-layout{
    margin-left: 45px;
    margin-right: 45px;
    width: auto;
}
.mdl-layout__content{
    padding-left: 45px;
    margin-top: 50px;
}


/*
███████ ██ ██████  ███████ ██████   █████  ██████
██      ██ ██   ██ ██      ██   ██ ██   ██ ██   ██
███████ ██ ██   ██ █████   ██████  ███████ ██████
     ██ ██ ██   ██ ██      ██   ██ ██   ██ ██   ██
███████ ██ ██████  ███████ ██████  ██   ██ ██   ██
*/

.mdl-layout__drawer{
    margin-top: 134px;
    height: 480px;
}

/*
████████  ██████  ██████  ██████   █████  ██████
   ██    ██    ██ ██   ██ ██   ██ ██   ██ ██   ██
   ██    ██    ██ ██████  ██████  ███████ ██████
   ██    ██    ██ ██      ██   ██ ██   ██ ██   ██
   ██     ██████  ██      ██████  ██   ██ ██   ██
*/

.topBarUpper{
    background: #fff;
    height: 50%;
}
.topBarPageName{
    background: rgba(255, 255, 255, 0.3);
}
.topBarStatus{
    background: rgba(255, 255, 255, 0.2);
}

/*
███    ███  █████  ██ ███    ██      ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████
████  ████ ██   ██ ██ ████   ██     ██      ██    ██ ████   ██    ██    ██      ████   ██    ██
██ ████ ██ ███████ ██ ██ ██  ██     ██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██
██  ██  ██ ██   ██ ██ ██  ██ ██     ██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██
██      ██ ██   ██ ██ ██   ████      ██████  ██████  ██   ████    ██    ███████ ██   ████    ██
*/

.mainContent{
    background: #fff;
    background: rgba(255, 255, 255, 0.2);
    height: 480px;
}
