
@font-face {
    font-family: 'Phage Regular';
    src:  url('../fonts/Phage/phageRegular.ttf') format('ttf'),
    url('../fonts/Phage/phageRegular.eot') format('eot'),
    url('../fonts/Phage/phageRegular.svg') format('svg'),
    url('../fonts/Phage/phageRegular.woff') format('woff'),
    url('../fonts/Phage/phageRegular.woff2') format('woff2');
}
@font-face {
    font-family: 'Robot Light';
    src:  url('../fonts/Roboto/roboto-light.eot') format('eot'),
    url('../fonts/Roboto/roboto-light.svg') format('svg'),
    url('../fonts/Roboto/roboto-light.woff') format('woff'),
    url('../fonts/Roboto/roboto-light.woff2') format('woff2');
}

html{
    background: url('../img/mailbg.jpg') #1e9f91 no-repeat;
}
body{
    background: linear-gradient(-131deg, rgba(255, 255, 255, 0.3), rgba(34, 34, 34,0.1));
}

/*
██       █████  ██    ██  ██████  ██    ██ ████████
██      ██   ██  ██  ██  ██    ██ ██    ██    ██
██      ███████   ████   ██    ██ ██    ██    ██
██      ██   ██    ██    ██    ██ ██    ██    ██
███████ ██   ██    ██     ██████   ██████     ██
*/

.mdl-layout{
    margin-left: 45px;
    margin-right: 45px;
    width: auto;
}
.mdl-layout__content{
    padding-left: 45px;
    margin-top: 50px;
}

.sideNavToggleBtn{
    position: absolute;
    cursor: pointer;
    top: 165px;
    z-index: 100;
    background: #DF3A02;
    padding: 3px;
    outline: 2px solid gray;
    margin-left: 3px;
}


/*
███████ ██ ██████  ███████ ██████   █████  ██████
██      ██ ██   ██ ██      ██   ██ ██   ██ ██   ██
███████ ██ ██   ██ █████   ██████  ███████ ██████
     ██ ██ ██   ██ ██      ██   ██ ██   ██ ██   ██
███████ ██ ██████  ███████ ██████  ██   ██ ██   ██
*/

.mdl-layout-title{
    border-top: 4px solid transparent;
    border-image: linear-gradient(to right, gray 33%, #4D574C 33%, #4D574C 66%, #C34E22 66%);
    border-image-slice: 1;
    height: 50px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.mdl-layout-title > div {
    display: flex;
    justify-content: space-between;
}
.mdl-layout-title > div > svg{
    vertical-align: initial;
    height: 50px;
}

hr{
    margin: 0;
}

.mdl-layout__drawer{
    background-color: #fff;
    margin-top: 160px;
    height: 457px;
}

.mdl-navigation{
    padding-top: 0 !important;
}

.mdl-navigation__link{
    color: #222 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-top: 10px !important;
}

.activeLink_myCustomClass{
    background: #DE3903;
    color: #fff !important;
}
.activeLink_myCustomClass:hover{
    background: #f56232 !important;
}

.appName{
    padding-left: 20px !important;
    font-size: 20px;
}
.appName:hover{
    background: transparent !important;
}
.appName > svg{
    width: 40px;
    height: 28px;
}

.mdl-navigation__link:last-child{
    padding-left: 20px !important;
    margin-top: 145px !important;
    font-size: 11px;
}
.mdl-navigation__link:last-child:hover{
    background-color: transparent !important;
}
.mdl-navigation__link:last-child > a{
    text-decoration: none;
    color: #222;
    display: block;
    margin-bottom: 10px;
}

/*
████████  ██████  ██████  ██████   █████  ██████
   ██    ██    ██ ██   ██ ██   ██ ██   ██ ██   ██
   ██    ██    ██ ██████  ██████  ███████ ██████
   ██    ██    ██ ██      ██   ██ ██   ██ ██   ██
   ██     ██████  ██      ██████  ██   ██ ██   ██
*/
.topBar{
    height: 100px;
}
.topBarUpper{
    background: #fff;
    height: 49%;
    border-top: 4px solid transparent;
    border-image: linear-gradient(to right, gray 33%, #4D574C 33%, #4D574C 66%, #C34E22 66%);
    border-image-slice: 1;
    font-size: 0px;
}
.topBarLowwer{
    height: 50%;
}
.topBarPageName{
    padding-left: 15px;
    background: rgba(255, 255, 255, 0.5);
    height: 60%;
    font-size: 17px;
    line-height: 30px;
    vertical-align: middle;
}
.topBarStatus{
    padding-left: 15px;
    background: rgba(255, 255, 255, 0.2);
    height: 40%;
}

/*
███    ███  █████  ██ ███    ██      ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████
████  ████ ██   ██ ██ ████   ██     ██      ██    ██ ████   ██    ██    ██      ████   ██    ██
██ ████ ██ ███████ ██ ██ ██  ██     ██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██
██  ██  ██ ██   ██ ██ ██  ██ ██     ██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██
██      ██ ██   ██ ██ ██   ████      ██████  ██████  ██   ████    ██    ███████ ██   ████    ██
*/

.mainContent{
    background: #fff;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 10px;
    min-height: 458px;
    padding: 10px 20px 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-around;
}


.theArchetectImg{
    height: 300px;
    width: 100%;
    background: url('../img/thearchetect.png') #fff no-repeat;
    background-size: contain;
}

.newContainer{
    width: 100%;
    background: #fff;
    padding: 20px;
}

/*
████████ ███████ ███    ███ ██████  ██       █████  ████████ ███████ ███████
   ██    ██      ████  ████ ██   ██ ██      ██   ██    ██    ██      ██
   ██    █████   ██ ████ ██ ██████  ██      ███████    ██    █████   ███████
   ██    ██      ██  ██  ██ ██      ██      ██   ██    ██    ██           ██
   ██    ███████ ██      ██ ██      ███████ ██   ██    ██    ███████ ███████
*/

.templatesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 100px;
}

.boxContainer{
    background: transparent;
    width: 228px;
    height: 198px;
    position: relative;
    border-top: 4px solid transparent;
    border-image: linear-gradient(to right,#C34E22 10%, transparent 10%);
    border-image-slice: 1;
    padding-top: 3px;
    margin-top: 10px;
}

.templateRefBox{
    overflow: hidden;
    width: 228px;
    height: 198px;
    clip-path: polygon(0% 0%,0% 105%,105% 105%,105% 20%,80% 20%,80% 0%);
    position: absolute;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to left,#C34E22 10%, transparent 10%);
    border-image-slice: 1;
    padding-bottom: 3px;
    box-shadow: 0 -6px 10px 0 rgba(0,0,0,.14), 0 -6px 18px 0 rgba(0,0,0,.12), 0 -6px 5px -1px rgba(0,0,0,.2);
}

.bgImageContainer{
    background: rgba(43, 77, 69, 0.7);
    width: 228px;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0), 0 1px 18px 0 rgba(0, 0, 0, 0.02), 0 3px 5px -1px rgba(0,0,0,.1);
}
.templateTag{
    filter: drop-shadow(1px 3px 7px black);
    width: 100%;
    top: 45%;
    text-decoration: none;
    color: #ccc;
    font-size: 150px;
    font-family: "Phage Regular",sans-serif;
    position: absolute;
    z-index: 10000;
    text-align: center;
}
.templateName{
    text-decoration: none;
    width: 90%;
    height: 20px;
    display: block;
    overflow: hidden;
    background: #DF3A02;
    color: #ccc;
    font-family: "Phage Regular",sans-serif;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    bottom: 25px;
    left: 7px;
    padding-left: 10px;
    z-index: 10000;
}
.templateCTime{
    text-decoration: none;
    width: 90%;
    color: #ccc;
    font-family: "Phage Regular",sans-serif;
    font-size: 11px;
    text-align: right;
    position: absolute;
    bottom: 5px;
    left: 7px;
    padding-right: 10px;
    z-index: 10000;
}
.bgImageContainer > img{
    width: 100%;
    height: 100%;
    display: block;
    padding: 1px;
    filter: blur(10px);
}

.defaultSelectBox{
    width: 40px;
    height: 31px;
    padding-top: 7px;
    position: absolute;
    right: 0;
    background-clip: content-box;
}

.defaultSelectBox > svg{
    height: 15px;
    width: 20px;
}

/*
███    ██ ███████ ██     ██     ████████ ███████ ███    ███ ██████  ██       █████  ████████ ███████
████   ██ ██      ██     ██        ██    ██      ████  ████ ██   ██ ██      ██   ██    ██    ██
██ ██  ██ █████   ██  █  ██        ██    █████   ██ ████ ██ ██████  ██      ███████    ██    █████
██  ██ ██ ██      ██ ███ ██        ██    ██      ██  ██  ██ ██      ██      ██   ██    ██    ██
██   ████ ███████  ███ ███         ██    ███████ ██      ██ ██      ███████ ██   ██    ██    ███████
*/

.newTemplateContainer form input:focus,.newTemplateContainer form textarea:focus{
    border-bottom-color: #DF3A02 !important;
    box-shadow: 0 1px 0 0 #DF3A02 !important;
}
.newTemplateContainer form label{
    color: #444 !important;
}

.newTemplateHead{
    font-size: 20px;
}

.newTemplateContainer form{
    height: 363px;
    overflow: hidden;
}

.newTemplateContainer form textarea{
    overflow-y: auto;
    height: 190px !important;
}
.newTemplateContainer form textarea:focus{
    overflow-y: auto;
    height: 190px !important;
}

.newTemplateContainer button:active,.newTemplateContainer button:hover{
    background: #DF3A02;
    color: #fff;
}

.newTemplateContainer button{
    background: #4D574C;
    color: #fff;
}
